<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin_layout}"
>
  <head> </head>

  <div layout:fragment="content">
    <p>현재 백그라운드 영상</p>
    <iframe
      src="/"
      frameborder="0"
      style="width: 100%; height: 50vh; pointer-events: none"
    >
    </iframe>
    <p style="font-weight: bold">영상 업로드</p>
    <form enctype="multipart/form-data" id="createForm">
        <label for="video">이미지 업로드 </label>
        <input
          type="file"
          accept=".mp4"
          placeholder="대표 이미지"
          name="video"
          id="video"
          multiple="multiple"
          required
        />
      </p>
      <!-- <input type="file" placeholder="Detail images" name="pdDetail" id="pdDetail" multiple="multiple">
        <br><br> -->
      <!-- TODO: EOFexception 발생 시 submit => button (but, required 적용 안됨)-->
      <button type="button" onclick="alert(`권한이 틀립니다`)">등록하기</button>
    </form>
  </div>
</html>
