<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <footer
    th:fragment="footerFragment"
    style="
      padding: 0.5rem;
      margin: 0 auto;
      max-width: 1000px;
      border-top: 0.065rem solid #e8e8e8;
    "
  >
    <a href="/terms">이용약관</a>
    <a href="/privacy/policy">개인정보처리방침</a>
    <a href="#">오픈소스 라이선스</a>
    <p></p>
    <p>
      ⓒ 2020
      <a
        href="http://www.ideaconcert.com"
        style="font-weight: bold; margin-right: 0"
        target="_blank"
        >IDEACONCERT Co., Ltd.
      </a>
      All Right Reserved.
    </p>
  </footer>
</html>
