<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="sideFragment">
    <div
      id="sidenav"
      class="sidenav"
      style="padding: 1rem; border-right: 1px solid #8e8e8e"
    >
      <ul>
        <li class="menu">
          Damda 고객센터
          <ul class="sub_menu">
            <li>
              <a
                href="https://www.notion.so/hidamda/00c3e5e637bf46a393428943facb7e22"
                target="_blank"
                >사용 가이드</a
              >
            </li>
            <li><a href="/helps/terms" target="_blank">이용약관</a></li>
            <li>
              <a href="/helps/privacy/policy" target="_blank"
                >개인정보처리방침</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </th:block>
</html>
