<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/img/logo/favicon_48.jpg" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" sizes="48x48" href="/img/icon/48.jpg" />
    <link rel="apple-touch-icon" sizes="192x192" href="/img/icon/192.jpg" />
    <link rel="apple-touch-icon" sizes="512x512" href="/img/icon/512.jpg" />
    <meta property="og:url" content="https://www.hidamda.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Damda" />
    <meta property="og:description" content="당신의 아름다운 추억을 담다" />
    <meta property="og:image" content="/img/icon/192.jpg" />
    <title>Credits</title>
  </head>
  <body style="max-width: 1020px">
    <h2>Credits</h2>
    <div style="display: flex; justify-content: space-around;">
      <h3 id="web" class="type_btn">WEB</h3><h3 id="app" class="type_btn">APP</h3>
    </div>
    <aside id="content"></aside>
    <script type="module" src="/helps/js/createLicense.js"></script>
  </body>
</html>
