<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/img/logo/favicon_48.jpg" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" sizes="48x48" href="/img/icon/48.jpg" />
    <link rel="apple-touch-icon" sizes="192x192" href="/img/icon/192.jpg" />
    <link rel="apple-touch-icon" sizes="512x512" href="/img/icon/512.jpg" />
    <meta property="og:url" content="https://www.hidamda.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Damda" />
    <meta property="og:description" content="당신의 아름다운 추억을 담다" />
    <meta property="og:image" content="/img/icon/192.jpg" />
    <link rel="stylesheet" href="/helps/css/helps_mobile.css" />
    <title>Help</title>
  </head>
  <body>
    <div id="wrap">
      <a
        id="guide"
        href="https://www.notion.so/hidamda/00c3e5e637bf46a393428943facb7e22"
        target="_blank"
        >사용가이드</a
      >
      <br />
      <span id="title">약관 및 정책</span>
      <a href="/helps/terms" target="_blank">이용약관</a>
      <a href="/helps/privacy/policy" target="_blank">개인정보처리방침</a>
      <a href="/helps/license" target="_blank">오픈소스 라이선스</a>
      <a href="/helps/deactivate">회원탈퇴</a>
      <br />
      <span id="title">회사 소개</span>
      <div id="company">
        <div>
          <label htmlFor="company">상호</label>
          <p id="company">(주)플레이콘</p>
        </div>
        <div>
          <label htmlFor="">대표</label>
          <p>전달용</p>
        </div>
        <div>
          <label htmlFor="">홈페이지</label>
          <p>www.ideaconcert.com</p>
        </div>
        <div>
          <label htmlFor="">사업자 등록번호</label>
          <p>297-72-00256</p>
        </div>
        <div>
          <label htmlFor="">통신판매업 신고번호</label>
          <p>제 2021-제주애월-0179 호</p>
        </div>
        <div>
          <label htmlFor="">주소</label>
          <p>제주특별자치도 제주시 중앙로 217, 제주벤처마루 701호</p>
        </div>
      </div>
    </div>
  </body>
</html>
