<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/helps/css/reset_password.css" />
    <link rel="icon" type="image/x-icon" href="/img/logo/favicon_48.jpg" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" sizes="48x48" href="/img/icon/48.jpg" />
    <link rel="apple-touch-icon" sizes="192x192" href="/img/icon/192.jpg" />
    <link rel="apple-touch-icon" sizes="512x512" href="/img/icon/512.jpg" />
    <meta property="og:url" content="https://www.hidamda.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Damda" />
    <meta property="og:description" content="당신의 아름다운 추억을 담다" />
    <meta property="og:image" content="/img/icon/192.jpg" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <title>비밀번호 재설정</title>
  </head>
  <body>
    <div
      id="wrap"
      style="
        max-width: 500px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 15px;
      "
    >
      <img src="/img/logo/black.png" alt="Damda" width="140" height="55" />
      <p id="cut_line" style="border-bottom: 0.063rem solid #e8e8e8"></p>
      <p style="color: black; font-size: 1rem">
        <strong>비밀번호 재설정</strong> <br />
        새로운 비밀번호를 입력해주세요.<br />
        <span style="color: #ff0034"
          >비밀번호는 영문 대,소문자와 숫자, 특수기호가 적어도 1개 이상씩 포함된
          8자 ~ 20자의 비밀번호여야 합니다.</span
        >
      </p>
      <p></p>
      <div style="display: flex; flex-direction: column">
        <input
          type="password"
          id="userPw"
          placeholder="PASSWORD"
          name="userPW"
          style="width: 100%"
          onkeyup="checkPassword()"
        />
        <input
          type="password"
          placeholder="PASSWORD_CONFIRM"
          id="userPwCnf"
          name="userPwCnf"
          style="width: 100%; border-bottom: solid 0.063rem #d5d5d5; margin-bottom: 1rem"
          onkeyup="checkPassword()"
        />
      </div>
      <p id="noti" style="color: #ff0034"></p>
      <br />
      <a style="text-decoration: none">
        <div
          id="button"
          style="
            border: none;
            text-align: center;
            background-color: #ff0034;
            padding: 6px 20px 10px 20px;
            border-radius: 6px;
            cursor: pointer;
          "
          onclick="resetPassword()"
        >
          <div
            id="loading"
            class="spinner-border text-light"
            role="status"
            style="visibility: hidden; position: absolute"
          >
            <span class="sr-only">Loading...</span>
          </div>
          <span id="buttonText" style="color: #fff; font-size: 1rem">확인</span>
        </div>
      </a>
    </div>
    <script type="text/javascript" src="/helps/js/showLoading.js"></script>
    <script th:inline="javascript">
      function checkPassword() {
        let button = document.getElementById("button");
        let userPw = document.getElementById("userPw").value;
        let userPwCnf = document.getElementById("userPwCnf").value;
        const regex =
          /^.*(?=^.{8,20}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
        if (regex.test(userPw) || regex.test(userPwCnf)) {
          if (userPwCnf.length !== 0) {
            if (userPw !== userPwCnf) {
              document.getElementById("noti").innerText = "비밀번호가 틀립니다";
              return false;
            } else {
              document.getElementById("noti").innerText =
                "비밀번호가 일치합니다";
              return true;
            }
          }
        } else {
          document.getElementById("noti").innerText =
            "비밀번호 양식에 맞게 입력해주세요";
        }
      }
      function resetPassword() {
        if (checkPassword()) {
          const userPw = document.getElementById("userPw").value;
          const userPwCnf = document.getElementById("userPwCnf").value;
          /*<![CDATA[*/
          const userId = /*[[ ${userId} ]]*/ "";
          /*]]*/

          showLoading(true);
          $.ajax({
            url: "/api/helps/reset-password",
            method: "POST",
            headers: {
              "Content-Type": "application/json;charset=UTF-8",
            },
            data: JSON.stringify({
              userId: userId,
              userPw: userPw,
              userPwCnf: userPwCnf,
            }),
            success: (res) => {
              showLoading(false);
              alert(res.msg);
              window.location.replace("/");
            },
            error: (res) => {
              showLoading(false);
              document.getElementById("noti").innerText =
                res.responseJSON.message;
            },
          });
        }
      }
    </script>
  </body>
</html>
