<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <div layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">상품 리스트</h1>
      <p class="mb-4">업로드한 상품(스티커, 템플릿) 내역입니다.</p>
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">내역</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div
              id="dataTable_wrapper"
              class="dataTables_wrapper dt-bootstrap4"
            >
              <div class="row"></div>
              <div class="row">
                <div class="col-sm-12">
                  <table
                    class="table table-bordered dataTable"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                    role="grid"
                    aria-describedby="dataTable_info"
                    style="width: 100%"
                  >
                    <thead>
                      <tr role="row">
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          style="width: 30px"
                        >
                          번호
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          style="width: 30px"
                        >
                          이름
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          style="width: 40px"
                        >
                          이미지
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          style="width: 90px"
                        >
                          종류
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          style="width: 31px"
                        >
                          가격
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          style="width: 69px"
                        >
                          등록일
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          style="width: 67px"
                        >
                          상태
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="dataTable"
                          rowspan="1"
                          colspan="1"
                          style="width: 67px"
                        ></th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Main Content -->

    <!-- Update Modal -->
    <div
      id="update-modal"
      class="modal fade bd-example-modal-lg"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myLargeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">상품</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="updateForm">
            <div class="modal-body">
              <input type="hidden" class="id" name="id" />
              <input
                type="text"
                placeholder="상품이름"
                name="name"
                class="name"
              />
              <br />
              <label
                ><input type="radio" name="isFree" value="true" />무료</label
              >
              <label
                ><input type="radio" name="isFree" value="false" />유료</label
              >
              <br />
              <label
                ><input type="radio" name="category" value="sticker" />
                스티커</label
              >
              <label
                ><input type="radio" name="category" value="template" />
                템플릿</label
              >
              <label
                ><input type="radio" name="category" value="watermark" />
                워터마크</label
              >
              <br />
              <input
                type="text"
                placeholder="가격"
                name="price"
                class="price"
              />
              <br />
              <img class="preview" style="width: 10rem" />
              <input
                type="file"
                accept=".gif, .jpg, .png"
                placeholder=""
                name="img"
                class="img"
                multiple="multiple"
              />
              <br /><br />
              <!-- <input type="file" placeholder="Detail images" name="pdDetail" id="pdDetail" multiple="multiple">
                    <br><br> -->
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                닫기
              </button>
              <button type="button" class="btn btn-primary" onclick="update()">
                수정하기
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Update Modal -->
    <script type="text/javascript" src="/js/admin_product.js"></script>
  </div>
</html>
