<!-- 
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/img/logo/favicon.jpg" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" sizes="48x48" href="/img/icon/48.jpg" />
    <link rel="apple-touch-icon" sizes="192x192" href="/img/icon/192.jpg" />
    <link rel="apple-touch-icon" sizes="512x512" href="/img/icon/512.jpg" />
    <meta property="og:url" content="http://test.hidamda.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Damda" />
    <meta property="og:description" content="당신의 아름다운 추억을 담다" />
    <meta
      property="og:image"
      content="http://test.hidamda.com/img/icon/200.png"
    />
    <meta name="twitter:card" content="photo" />
    // <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    // <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script> 
    // <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script> 
    <link rel="stylesheet" href="/bundle/main.css" />

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>
   // iamport.payment.js 
    <script
      type="text/javascript"
      src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"
    ></script>
    <title>Damda</title>
  </head>

  <body>
    <div id="root"></div>
    // <div id="store"></div>
    // <div id="fb-root"></div> 
    <script src="/bundle/main.js"></script>
  </body>
</html>
-->
